<%= form_for template, :url => template_path(template), :html => {:method => :put} do |f| %>
  <%= hidden_field_tag :step, params[:step] %>
  
  <%= render "steps/#{params[:step]}", :f => f %>
  
  <div class='field submit'>
    <%= f.submit 'Next Step', :style => 'float: right; margin-left: 6px' if next_step %>
    <%= f.submit 'Finish', :style => 'float: right; margin-left: 6px;' unless next_step %>    
    <%= f.submit 'Previous Step', :class => 'grey' if previous_step %>
  </div>
<% end %>