<%= form_for recipe do |f| %>
  <div class='field text'>
    <%= f.label :slug, 'Symbol Name:' %>
    <%= f.text_field :slug, :placeholder => 'Symbol Name (e.g. jquery_ui)' %>
  </div>

  <div class='field text'>
    <%= f.label :name, 'Title:' %>
    <%= f.text_field :name, :placeholder => 'Display Title (e.g. jQuery UI)' %>
  </div>
  
  <div class='field select'>
    <%= f.label :category, 'Category:' %>
    <%= f.label :category, 'Pick the category under which your recipe falls.', :class => 'help' %>
    <%= f.select :category, [['Javascript','javascript'],['Database/ORM','orm'],['Unit Testing','unit_testing'],['Integration Testing','integration_testing'],['Authentication','authentication']] %>
  </div>
  
  <div class='field text'>
    <%= f.label :description, 'Description:' %>
    <%= f.label :description, 'Provide some information about what this recipe will add to the template.', :class => 'help' %>
    <%= f.text_area :description %>
  </div>

  <div class='field'>
    <%= f.label :code, 'Source Code:' %>
    <%= f.text_area :code, :class => 'bespin', :style => 'width: 580px; height: 300px;' %>
  </div>
  
  <div class='field submit'>
    <%= f.submit recipe.new_record?? 'Create Recipe' : 'Save Recipe' %>
  </div>
<% end %>

<%= bespin_setup 'recipe_code' %>