<!DOCTYPE html>
<html>
<head>
  <title>RailsWizard</title>
  <%= stylesheet_link_tag 'application', 'uniform.default', :cache => 'all' %>
  <%= javascript_include_tag 'jquery', 'rails', 'jquery.uniform', 'application', :cache => 'all' %>
  <%= csrf_meta_tag %>
  <%= content_for :head %>
</head>
<body>
  <%= render "layouts/flash", :flash => flash %>
  <header id='top'>
    <section>
      <h1><%= link_to image_tag('/images/logo.png', :alt => 'RailsWizard'), '/' %></h1>
      <nav>
        <ul>
          <li><%= link_to image_tag('/images/rumble_vote.png', :alt => 'Vote for me in the 2010 Rails Rumble!'), "http://railsrumble.com/teams/the-lonely-intridean", :target => '_blank' %></li>
          <li><%= link_to 'Template Directory', templates_path, :class => 'button' %></li>
          <li><%= link_to 'About', 'http://github.com/intridea/rails_wizard/wiki', :target => '_github', :class => 'button' %></li>
          <!--<li><%= link_to 'Recipes', recipes_path %></li>-->
        </ul>
      </nav>
      <aside id='user_bar'>
        <% if signed_in? %>
          <div id='signed_in'>
          <%= link_to user_path(current_user) do %>
            <b><%= current_user.name %></b>
          <% end %>
          <%= link_to 'Sign Out', sign_out_path %>
          </div>
        <% else %>
          <div id='sign_in'>
            <span>Sign In</span>
            <aside id='sign_ins'>
              <%= link_to image_tag('/images/providers/twitter.png', :alt => 'Twitter'), '/auth/twitter' %>
              <%= link_to image_tag('/images/providers/github.png', :alt => 'Twitter'), '/auth/github' %>
            </aside>
          </div>
        <% end %>
      </aside>
    </section>
  </header>
  
  <div id='wrapper'>
    <section id="content">
      <header>
        <% if @template %>
          <h2><%= link_to compile_url(template), compile_url(template), :target => '_template' %></h2>
        <% end %>
        <h1><%= @page_title || "Create a Rails Application Template" %></h1>
        <%= yield :after_page_title %>
      </header>