<% content_for :after_page_title do %>
  <%= link_to "Create New Recipe", new_recipe_path, :class => 'button', :style => 'float: right;'%>
<% end %>

<%= render "layouts/head"%>
<aside id='sidebar'>
  <p>Welcome to the recipe creator. It's
  a bit daunting at first, but there will
  be documentation (someday).</p>
  
  <p>Keep an eye on the <%= link_to 'wiki', 'http://github.com/intridea/rails_wizard/wiki/Recipes', :target => '_github' %> for future documentation developments.</p>
</aside>
<h1 id='heading'><%= @heading || "A Rocket-Fueled Kick in the App" %></h1>
<section id='main'>
  <%= yield %>
</section>
<%= render "layouts/foot" %>